// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

todo {
  max-width: 400px;
  overflow-y: scroll;

  .panel-heading {
    display: flex;
    padding: 10px 10px 5px 10px;
    margin-bottom: 5px;

    h1 {
      flex: 1;
      margin: 0;
      padding: 0;
    }

    .controls {
      margin-top: 10px;
    }
  }

  .list {
    .list-item {
      margin-bottom: 10px;

      .filepath {
        color: @text-color-subtle;
      }

      .todo-text {
        color: @text-color;
        margin: 5px 0 5px 5px;

        &:hover {
          cursor: pointer;
          color: @text-color-highlight;
        }
      }
    }
  }
}
